[attr]lfs -text filter=lfs diff=lfs merge=lfs

* text=auto

# Exclude files from exporting
.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore

# FOnline formats
*.fopro    text
*.foitem   text
*.focr     text
*.fomap    text
*.foloc    text
*.fofrm    text
*.fo3d     text
*.fos      text
*.fobin    text
*.fofx     text
*.focfg    text
*.fodlg    text
*.fogui    text
*.fops     text

# Documents
*.json     text
*.toml     text
*.xml      text
*.yaml     text
*.yml      text
*.glsl     text
*.cmake    text
*.md       text
*.adoc     text
*.textile  text
*.mustache text
*.csv      text
*.tab      text
*.tsv      text
*.txt      text
*.cfg      text
*.ini      text
*.sql      text
*.html     text
*.htm      text
*.tex      text diff=tex
*.bibtex   text diff=bibtex
*.doc      diff=astextplain
*.DOC      diff=astextplain
*.docx     diff=astextplain
*.DOCX     diff=astextplain
*.dot      diff=astextplain
*.DOT      diff=astextplain
*.pdf      diff=astextplain
*.PDF      diff=astextplain
*.rtf      diff=astextplain
*.RTF      diff=astextplain

# Graphics
*.tga      lfs
*.TGA      lfs
*.png      lfs
*.PNG      lfs
*.jpg      lfs
*.JPG      lfs
*.jpeg     lfs
*.JPEG     lfs
*.gif      lfs
*.tif      lfs
*.tiff     lfs
*.ico      lfs
*.svg      lfs
*.svgz     lfs
*.eps      lfs
*.bmp      lfs
*.BMP      lfs
*.frm      lfs
*.FRM      lfs
*.fr*      lfs
*.FR*      lfs
*.rix      lfs
*.RIX      lfs
*.fbx      lfs
*.FBX      lfs
*.x        lfs
*.X        lfs
*.obj      lfs
*.max      lfs
*.MAX      lfs
*.blend    lfs
*.blender  lfs
*.dae      lfs
*.mb       lfs
*.ma       lfs
*.3ds      lfs
*.dfx      lfs
*.c4d      lfs
*.lwo      lfs
*.lwo2     lfs
*.abc      lfs
*.3dm      lfs
*.bin      lfs
*.glb      lfs
*.apng     lfs
*.tif      lfs
*.iff      lfs
*.pict     lfs
*.dds      lfs
*.DDS      lfs
*.xcf      lfs
*.leo      lfs
*.kra      lfs
*.kpp      lfs
*.clip     lfs
*.webm     lfs
*.webp     lfs
*.psd      lfs
*.PSD      lfs
*.afphoto  lfs
*.afdesign lfs

# Media
*.wav      lfs
*.WAV      lfs
*.ogg      lfs
*.OGG      lfs
*.mp3      lfs
*.avi      lfs
*.mp4      lfs
*.acm      lfs
*.ACM      lfs
*.ogv      lfs
*.OGV      lfs
*.mov      lfs
*.asf      lfs
*.mpg      lfs
*.mpeg     lfs
*.flv      lfs
*.wmv      lfs

# Scripts
*.bash     text eol=lf
*.fish     text eol=lf
*.sh       text eol=lf
*.bat      text eol=crlf
*.BAT      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf

# Archives
*.7z       lfs
*.7Z       lfs
*.gz       lfs
*.tar      lfs
*.tgz      lfs
*.zip      lfs
*.ZIP      lfs
*.zipped   lfs
*.bz2      lfs
*.dat      lfs
*.DAT      lfs
*.bos      lfs
*.BOS      lfs
*.rar      lfs

# Text files where line endings should be preserved
*.patch    -text

# Sources
*.c     text diff=c
*.cc    text diff=cpp
*.cxx   text diff=cpp
*.cpp   text diff=cpp
*.c++   text diff=cpp
*.hpp   text diff=cpp
*.h     text diff=cpp
*.h++   text diff=cpp
*.hh    text diff=cpp
*.cs    text diff=csharp

# Object files
*.slo   lfs
*.lo    lfs
*.o     lfs

# Precompiled Headers
*.gch   lfs
*.pch   lfs

# Static libraries
*.lai   lfs
*.la    lfs
*.a     lfs
*.lib   lfs
*.LIB   lfs

# Executables
*.exe   lfs
*.EXE   lfs
*.out   lfs
*.app   lfs
*.pdb   lfs
*.mdb   lfs
*.so    lfs
*.dylib lfs
*.dll   lfs
*.DLL   lfs

# Python source files
*.pxd    text diff=python
*.py     text diff=python
*.py3    text diff=python
*.pyw    text diff=python
*.pyx    text diff=python
*.pyz    text diff=python
*.pyi    text diff=python

# Python files
*.db     lfs
*.p      lfs
*.pkl    lfs
*.pickle lfs
*.pyc    lfs
*.pyd    lfs
*.pyo    lfs

# Jupyter notebook
*.ipynb  text

# Visual Studio
*.sln       text eol=crlf
*.csproj    text eol=crlf
*.vbproj    text eol=crlf
*.vcxproj   text eol=crlf
*.vcproj    text eol=crlf
*.dbproj    text eol=crlf
*.fsproj    text eol=crlf
*.lsproj    text eol=crlf
*.wixproj   text eol=crlf
*.modelproj text eol=crlf
*.sqlproj   text eol=crlf
*.wwaproj   text eol=crlf
*.xproj     text eol=crlf
*.props     text eol=crlf
*.filters   text eol=crlf
*.vcxitems  text eol=crlf
