/*.bat
/*.sh
/*.log
/*.txt
/Workspace
/Temp
/Bakering
/Baking
/Binaries
/Cache
/TLA-**
/_**
/.vs
/.idea
/.theia
/.cache
/.claude
/.DS_Store
/[Bb]uild
/[Bb]uild-**
/[Cc]make-[Bb]uild**
/Output
/.stignore
/.stfolder
.DS_Store
__pycache__
/AS_DEBUG
