/Workspace
/Temp
/_**
/.vs
/.idea
/.theia
/.cache
/.DS_Store
/[Bb]uild
/[Bb]uild-**
/[Cc]make-[Bb]uild**
/Output

_Other
_Temp
Cache
Data
Data/Cache
Dumps
FOMapper.log
FOnline.log
Logs
Other
Save
Temp
Server/*
Client/*
!.keep
CMakeLists.txt
.stignore
.stfolder
